<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .card {
            flex: 1 1 calc(33.333% - 40px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            background-color: #f9f9f9;
            max-width: 300px;
            text-align: center;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .card a {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .card a:hover {
            background-color: #0056b3;
        }

        @media (max-width: 768px) {
            .card {
                flex: 1 1 calc(50% - 40px);
            }
        }

        @media (max-width: 480px) {
            .card {
                flex: 1 1 100%;
            }
        }

        .add{
            position: absolute;
            top:20px;
            left: 10px;
            background-color: green;
            padding: 10px 15px;
            border-radius: 10px;
            color: white;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <a href="/add" class="add">Add More Details</a>
    <div class="container">
        <% data.map((el)=>{ %>
        <div class="card">
            <h3><%= el.user %></h3>
            <h3><%= el.email %></h3>
            <img src="<%= el.img %>" alt="img not found"> 
            <a href="/delete/<%= el._id %>">Delete</a>     
            <a href="/edit/<%= el._id %>">Edit</a>      
        </div>
        <% }) %>
    </div>
    
</body>
</html>
